<div class="contenedor">
  <div class="resultados">
    <div class="titulo">
      <span>Tres en Raya</span>
    </div>
    <div class="jugadores">
      <div class="resultado1">
        <span>Jugador 1: {{contador1}}</span>
      </div>
      <div class="resultado2">
        <span>Jugador 2: {{contador2}}</span>
      </div>
    </div>
  </div>

  <div class="juego">
    <div>
      <button mat-raised-button color="primary" (click)="presion(0,0)" class="casilla">
        {{posiciones[0][0]}}
      </button>
  
      <button mat-raised-button color="primary" (click)="presion(0,1)" class="casilla">
        {{posiciones[0][1]}}
      </button>
  
      <button mat-raised-button color="primary" (click)="presion(0,2)" class="casilla">
        {{posiciones[0][2]}}
      </button>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="presion(1,0)" class="casilla">
        {{posiciones[1][0]}}
      </button>
  
      <button mat-raised-button color="primary" (click)="presion(1,1)" class="casilla">
        {{posiciones[1][1]}}
      </button>
  
      <button mat-raised-button color="primary" (click)="presion(1,2)" class="casilla">
        {{posiciones[1][2]}}
      </button>
    </div>

    <div>
      <button mat-raised-button color="primary" (click)="presion(2,0)" class="casilla">
        {{posiciones[2][0]}}
      </button>
  
      <button mat-raised-button color="primary" (click)="presion(2,1)" class="casilla">
        {{posiciones[2][1]}}
      </button>
  
      <button mat-raised-button color="primary" (click)="presion(2,2)" class="casilla">
        {{posiciones[2][2]}}
      </button>
    </div>

  </div>
  <div class="mensaje">
    <p>{{mensaje}}</p>
    <button class =  "rei"  mat-flat-button color="primary" (click)="nuevoJuego()">Reiniciar</button>
  </div>
</div>