.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px #000;
}

.resultados
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 10%;

  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px #000;

}

.titulo
{
  font-size: 2.5rem;
  background-color: #f5f5f5;
border-radius: 5px;
padding: 10px;
box-shadow: 0px 0px 10px #000;
font-family:    Critter, Cottonwood    ;
}

.jugadores
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #f5f5f5;
border-radius: 5px;
padding: 10px;
box-shadow: 0px 0px 10px #000;

}

.juego
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70%;

}

.juego div
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px #000;

}

.juego div button
{
  width: 25%;
  height: 80%;

  font-size: 3em;

}

.mensaje
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 10%;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px #000;
  color: #000;
  text-align: center;
  font-size: 20px;

  font-family:    Critter, Cottonwood    ;

 
} 
